.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    display: flex;
    flex-direction: column;
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
    height: 200px;
}

.portfolio__item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio__item h3 {
    margin: 1.2rem 0;
    color: var(--color-primary);
}

.portfolio__item p {
    margin: 0 0 1.2rem 0;
    font-size: 0.9rem;
}

.portfolio__item-technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 1rem 0;
}

.technology-tag {
    background: var(--color-primary-variant);
    color: var(--color-white);
    padding: 0.3rem 0.7rem;
    border-radius: 1rem;
    font-size: 0.8rem;
    white-space: nowrap;
}

.portfolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-top: auto;
}

.portfolio__item-content {
    flex: 1;
}

@media screen and (max-width: 1024px){
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}
  
@media screen and (max-width: 600px){
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}